* {
    margin: 0px;
    padding: 0px;
}

header {
    margin: 10px 10%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.nev-items {
    display: flex;
    gap: 30px;
}

.nav-button {
    display: flex;
    gap: 30px;
    margin-right: 20px;
    align-items: center;
}

.nev-items li {
    list-style: none;
}

.nev-items a {
    text-decoration: none;
}

.btn-gray {
    padding: 10px;
    background-color: none;
}


/* banner section style */
.banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
}

.banner-img {
    display: flex;
    justify-content: end;
    width: 100%;
}

/* .banner-img img{
    width: 100%;  
} */


.banner-info {
    display: flex;
    flex-direction: column;
    justify-content: start;

    width: 100%;
}

.banner-title span {
    color: rgba(233, 90, 8, 1);

    font-family: Noto Serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 89px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-title {
    font-family: Noto Serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 89px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-description {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

/* our plants section start */
.our-plants {
    margin: 50px 10%;

}

.plants {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.cart-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}

.cart {
    background-color: rgb(247, 228, 220);
    width: 270px;
    height: 484px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    box-shadow: 5px 5px 5px orange;
}

.cart img {
    width: 100%;
    height: 313px;
    border-radius: 20px;
}

.btn-cart {
    background-color: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
}

/*Flower & plants Lover Section start */
.lover {
    padding: 70px 30px;
    margin: 50px 10%;
}

.plants-lover {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.love-img {
    position: relative;
}

.love-img>img {
    width: calc(100px)-50%;
}

.badge {
    position: absolute;
    top: -80px;
    left: 420px;
}

.badge img {
    width: 200px;
    height: 200px;
}

.plants-lover-info {
    width: 50%;
}

/* latest-deals section start */
.latest-deals-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

#latest-cart1 {
    background-image: url(/assets/deal-bloom.png);
    width: 350px;
    height: 210px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    grid-area: latest-cart1;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

#latest-cart2 {
    background-image: url(/assets/deal-zabo.png);
    width: 700px;
    height: 440px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: latest-cart2;

}

#latest-cart3 {
    background-image: url(/assets/deal-ana.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-size: cover;
    width: 350px;
    height: 210px;
    border-radius: 10px;
    background-repeat: no-repeat;
    grid-area: latest-cart3;
}

.latest-cart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.latest-cart>h1,
a {
    color: white;
    filter: brightness(100%);
}

.latest-carts {
    margin: 20px 10%;
    justify-items: center;
    display: grid;
    grid-template-areas:
        "latest-cart1   latest-cart2    latest-cart2"
        "latest-cart3   latest-cart2    latest-cart2"
    ;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.join {
    background-image: url(/assets/news-letter-bg.png);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.join-info {
    color: white;
}

.join-input {
    display: flex;
}

#email {
    padding: 20px 10rem;
}

footer {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;

}

footer>ul {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:576px) {
    .banner {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .nev-items {
        display: none;
    }

    .banner-img img {
        width: 100%;
        margin: 10px auto;
    }

    .cart-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .plants-lover {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }

    .lover {
        margin: 0px;
        padding: 0px;
    }

    .love-img>img {
        width: 100%;
    }

    .badge {
        display: none;
    }
#latest-cart2 {
   
    width: 100%;
    height: 440px;}
    .latest-carts {
        margin: 20px 10%;
        justify-items: center;
        display: grid;
        grid-template-areas:
            "latest-cart1"
            "latest-cart3"
            "latest-cart2"
        ;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .join-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}
}